.p {
	border: 1px  solid: ;
	padding: 20px
	margin:30px;
}

.h1 {
	text-align: center;
	font-family: "times new roman" serif;
	color: red;

}

.header{
	border: 20px
	padding:15px
	color red;
	
}

.grid-item{
border-radius: 50% 
}
